
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 3px 5vw;
  background-color: #fff;
  font-family: Arial, sans-serif;
  
}

.logo img {
  height: 60px;
  width: 140px;
}


.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}


.link.active {
  text-decoration: underline;
}
.element{
    display: flex;
    align-items: center;
    margin-right: 50px;

}
.element img{
    height: 20px;
    margin-left: 25px;
}
.profile-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 10px 0;
  width: 150px;
  z-index: 1000;
}

.dropdown-menu li {
  list-style: none;
  padding: 10px 15px;
  transition: background-color 0.2s;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

